@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,500;1,600;1,800;1,900&family=Rubik:ital,wght@0,300;0,500;1,300;1,400;1,700&family=Victor+Mono&display=swap');
body{
  
font-family: 'Rubik', sans-serif;

}