@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,500;1,600;1,800;1,900&family=Rubik:ital,wght@0,300;0,500;1,300;1,400;1,700&family=Victor+Mono&display=swap');
body{
  
font-family: 'Rubik', sans-serif;

}
.item-button button{
   margin-top: 20px;
   width:150px;
   background-color: rgb(5, 154, 223);
   color: aliceblue;
   border-radius: 10px;
}
.spinner{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   z-index: 100;
}

.spinner-border{
   height: 100px;
   width: 100px;
}
.category{
   border:2px solid #ccc;
   cursor: pointer;
   margin-top: 5px;
   margin-left: 3px;
   border-radius: 30px;
   padding: 10px;
   height: 72px;
}
.category img{
   margin-left: 10px;
}
.category-active{
   border: 2px solid green;
}
.category:hover{
   border: 2px solid rgb(7, 187, 215);
   background-color: #ccc;
}

/* //register-page */
.register{
display: flex;

border: 1px solid gray;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100vh;


}
.register input{
   width: 400px !important;
}
.regsiter-form{
   background-color: #cccccc30;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
   
}
.regsiter-form h1{
   text-align: center;
   background-color: #dcd7d73f;
   color: chocolate;
   border-radius: 30px;
}
.regsiter-form h3{
   text-align: center;
}